body {
  background-color: black;
  color: white;
}

.header {
  width: 1000px;
  background-color: red;
}

#items-list>li {
  width: 1000px;
  list-style-type: none;
  margin-top: 20px;
}

.item-img {
 
}

.item-name {
}

.item-quantity {
}
