body {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  background-color: red;
}

#items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#items-list>li {
  list-style-type: none;
  background-color: green;
  width: calc((100% - 15px) / 5);
  min-width: 300px;
  margin: 5px;
  padding: 20px;
}

@media screen and (max-width: 400px) {
    #items-list li {
        width: calc((100% - 15px))
    }
}

.item-img {
  max-width: 100%;
}

.item-name {}
